:root {
    --laptop-height: 650px;
    --laptop-width: 915px;
    --laptop-depth: 12px;
}

@media only screen and (max-width: 599px) {
  :root {
    --laptop-scale: 0.4;
    --laptop-screen-Y: -70px;
    --laptop-body-Y: 150px;
    --laptop-body-Z: -55px;
  }
}

@media only screen and (min-width: 600px) {
  :root {
    --laptop-scale: 0.5;
    --laptop-screen-Y: -70px;
    --laptop-body-Y: 200px;
    --laptop-body-Z: -85px;
  }
}

@-webkit-keyframes rotatingAnimationX {
    0%{
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
    }
  }
  @keyframes rotatingAnimationX {
    0%{
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
    }
  }
  @-webkit-keyframes rotatingAnimationY {
    0%{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @keyframes rotatingAnimationY {
    0%{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @-webkit-keyframes rotatingAnimationZ {
    0%{
      -webkit-transform: rotateZ(0deg);
              transform: rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateZ(360deg);
              transform: rotateZ(360deg);
    }
  }
  @keyframes rotatingAnimationZ {
    0%{
      -webkit-transform: rotateZ(0deg);
              transform: rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateZ(360deg);
              transform: rotateZ(360deg);
    }
  }
  .container {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-color: #000000;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .laptop-up > div {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .laptop-up {
    -webkit-animation: 7s rotatingAnimationY linear infinite;
    animation: 7s rotatingAnimationY linear infinite;
  }
  .laptop-screen-up {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(0,var(--laptop-screen-Y),0) scale(var(--laptop-scale));
    -webkit-transform-origin: center center;
    transform-origin: center center;
    
  }
  .laptop-screen-container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .laptop-screen-container > div {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  .laptop-screen-front {
    width: var(--laptop-width);
    height: var(--laptop-height);
    -webkit-transform: translate3d(
        calc(var(--laptop-width)/2*-1), 
        calc(var(--laptop-height)/2*-1), 
        calc(var(--laptop-depth)/2)) 
        translate3d(0,0,0) rotateY(0deg);
    transform: translate3d(
        calc(var(--laptop-width)/2*-1), 
        calc(var(--laptop-height)/2*-1), 
        calc(var(--laptop-depth)/2)) 
        translate3d(0,0,0) rotateY(0deg);
  }
  .laptop-screen-side-left {
    background-image: url('new-covers/app-case/laptop/screen/left-side.png');
    width: var(--laptop-depth);
    height: var(--laptop-height);
    -webkit-transform: translate3d(
        calc(var(--laptop-width)/2*-1),
        calc(var(--laptop-height)/2*-1),
        calc(var(--laptop-depth)/2)) 
        translate3d(calc(var(--laptop-depth)/2*-1), 0, calc(var(--laptop-depth)/2*-1)) rotateY(-90.0001deg);
    transform: translate3d(
        calc(var(--laptop-width)/2*-1),
        calc(var(--laptop-height)/2*-1),
        calc(var(--laptop-depth)/2)) 
        translate3d(calc(var(--laptop-depth)/2*-1), 0, calc(var(--laptop-depth)/2*-1)) rotateY(-90.0001deg);
  }
  .laptop-screen-side-right {
    background-image: url('new-covers/app-case/laptop/screen/right-side.png');
    width: var(--laptop-depth);
    height: var(--laptop-height);
    -webkit-transform: translate3d(
        calc(var(--laptop-width)/2*-1),
        calc(var(--laptop-height)/2*-1),
        calc(var(--laptop-depth)/2)) 
        translate3d(
          calc(var(--laptop-width)), 
          0px,
          calc(var(--laptop-depth)/2*-1)) 
        rotateY(90.0001deg);
    transform: translate3d(
        -464px,
        calc(var(--laptop-height)/2*-1),
        calc(var(--laptop-depth)/2))
        translate3d(
          calc(var(--laptop-width)), 
          0px,
          calc(var(--laptop-depth)/2*-1)) 
        rotateY(90.0001deg);
  }
  .laptop-screen-top {
    background-image: url('new-covers/app-case/laptop/screen/top.png');
    background-position: bottom right;
    width: var(--laptop-width);
    height: var(--laptop-depth);
    -webkit-transform: translate3d(
        calc(var(--laptop-width)/2*-1), 
        calc(var(--laptop-height)/2*-1),
        calc(var(--laptop-depth)/2)) 
        translate3d(0px, -29px, -29px) rotateX(90.0001deg);
    transform: 
        translate3d(
            calc(var(--laptop-width)/2*-1), 
            calc(var(--laptop-height)/2*-1),
            calc(var(--laptop-depth)/2)) 
        translate3d(
            0,
            calc(var(--laptop-depth)/2*-1), 
            calc(var(--laptop-depth)/2*-1)) 
        rotateX(90.0001deg);
  }
  .laptop-screen-bottom {
    background-image: url('new-covers/app-case/laptop/screen/bottom.png');
    width: var(--laptop-width);
    height: var(--laptop-depth);
    -webkit-transform: translate3d(
        calc(var(--laptop-width)/2*-1),
        calc(var(--laptop-height)/2*-1),
        calc(var(--laptop-depth)/2)) 
        translate3d(
          0px, 
          calc(var(--laptop-height)), 
          calc(var(--laptop-depth)/2*-1)) 
        rotateX(-90.0001deg);
    transform: translate3d(
        calc(var(--laptop-width)/2*-1),
        -335px,
        calc(var(--laptop-depth)/2)) 
        translate3d(
          0px, 
          calc(var(--laptop-height)), 
          calc((var(--laptop-depth)/2*-1))) 
        rotateX(-90.0001deg);
  }
  .laptop-screen-back {
    background-image: url('new-covers/app-case/laptop/screen/back.png');
    width: var(--laptop-width);
    height: var(--laptop-height);
    -webkit-transform: translate3d(
        calc(var(--laptop-width)/2*-1),
        calc(var(--laptop-height)/2*-1),
        calc(var(--laptop-depth)/2)) 
        translate3d(0,0, calc(var(--laptop-depth)*-1)) rotateY(180deg);
    transform: translate3d(
        calc(var(--laptop-width)/2*-1),
        calc(var(--laptop-height)/2*-1),
        calc(var(--laptop-depth)/2)) 
        translate3d(0,0, calc(var(--laptop-depth)*-1)) rotateY(180deg);
  }


  .laptop-body-up {
    -webkit-transform: rotateX(0deg) rotateY(deg) rotateZ(0deg);
    transform: rotateX(66deg) rotateY(0deg) rotateZ(0deg) translate3d(0, var(--laptop-body-Y), var(--laptop-body-Z)) scale(var(--laptop-scale));
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }
  .laptop-body-container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .laptop-body-container > div {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  .laptop-body-front {
    background-image: url('new-covers/app-case/laptop/body/top.png');
    width: var(--laptop-width);
    height: var(--laptop-height);
    -webkit-transform: translate3d(
        calc(var(--laptop-width)/2*-1), 
        calc(var(--laptop-height)/2*-1), 
        calc(var(--laptop-depth)/2)) 
        translate3d(0,0,0) rotateY(0deg);
    transform: translate3d(
        calc(var(--laptop-width)/2*-1), 
        calc(var(--laptop-height)/2*-1), 
        calc(var(--laptop-depth)/2)) 
        translate3d(0,0,0) rotateY(0deg);
  }
  .laptop-body-side-left {
    background-image: url('new-covers/app-case/laptop/body/left-side.png');
    width: var(--laptop-depth);
    height: var(--laptop-height);
    -webkit-transform: translate3d(
        calc(var(--laptop-width)/2*-1),
        calc(var(--laptop-height)/2*-1),
        calc(var(--laptop-depth)/2)) 
        translate3d(calc(var(--laptop-depth)/2*-1), 0, calc(var(--laptop-depth)/2*-1)) rotateY(-90.0001deg);
    transform: translate3d(
        calc(var(--laptop-width)/2*-1),
        calc(var(--laptop-height)/2*-1),
        calc(var(--laptop-depth)/2)) 
        translate3d(calc(var(--laptop-depth)/2*-1), 0, calc(var(--laptop-depth)/2*-1)) rotateY(-90.0001deg);
  }
  .laptop-body-side-right {
    background-image: url('new-covers/app-case/laptop/body/right-side.png');
    width: var(--laptop-depth);
    height: var(--laptop-height);
    -webkit-transform: translate3d(
        calc(var(--laptop-width)/2*-1),
        calc(var(--laptop-height)/2*-1),
        calc(var(--laptop-depth)/2)) 
        translate3d(
          calc(var(--laptop-width)), 
          0px,
          calc(var(--laptop-depth)/2*-1)) 
        rotateY(90.0001deg);
    transform: translate3d(
        -464px,
        calc(var(--laptop-height)/2*-1),
        calc(var(--laptop-depth)/2))
        translate3d(
          calc(var(--laptop-width)), 
          0px,
          calc(var(--laptop-depth)/2*-1)) 
        rotateY(90.0001deg);
  }
  .laptop-body-top {
    background-image: url('new-covers/app-case/laptop/body/back.png');
    background-position: bottom right;
    width: var(--laptop-width);
    height: var(--laptop-depth);
    -webkit-transform: translate3d(
        calc(var(--laptop-width)/2*-1), 
        calc(var(--laptop-height)/2*-1),
        calc(var(--laptop-depth)/2)) 
        translate3d(0px, -29px, -29px) rotateX(90.0001deg);
    transform: 
        translate3d(
            calc(var(--laptop-width)/2*-1), 
            calc(var(--laptop-height)/2*-1),
            calc(var(--laptop-depth)/2)) 
        translate3d(
            0,
            calc(var(--laptop-depth)/2*-1), 
            calc(var(--laptop-depth)/2*-1)) 
        rotateX(90.0001deg);
  }
  .laptop-body-bottom {
    background-image: url('new-covers/app-case/laptop/body/front.png');
    width: var(--laptop-width);
    height: var(--laptop-depth);
    -webkit-transform: translate3d(
        calc(var(--laptop-width)/2*-1),
        calc(var(--laptop-height)/2*-1),
        calc(var(--laptop-depth)/2)) 
        translate3d(
          0px, 
          calc(var(--laptop-height)), 
          calc(var(--laptop-depth)/2*-1)) 
        rotateX(-90.0001deg);
    transform: translate3d(
        calc(var(--laptop-width)/2*-1),
        -330px,
        calc(var(--laptop-depth)/2)) 
        translate3d(
          0px, 
          calc(var(--laptop-height)), 
          calc((var(--laptop-depth)/2*-1))) 
        rotateX(-90.0001deg);
  }
  .laptop-body-back {
    background-image: url('new-covers/app-case/laptop/body/bottom.png');
    width: var(--laptop-width);
    height: var(--laptop-height);
    -webkit-transform: translate3d(
        calc(var(--laptop-width)/2*-1),
        calc(var(--laptop-height)/2*-1),
        calc(var(--laptop-depth)/2)) 
        translate3d(0,0, calc(var(--laptop-depth)*-1)) rotateY(180deg);
    transform: translate3d(
        calc(var(--laptop-width)/2*-1),
        calc(var(--laptop-height)/2*-1),
        calc(var(--laptop-depth)/2)) 
        translate3d(0,0, calc(var(--laptop-depth)*-1)) rotateY(180deg);
  }

  #sort-case-laptop-up {
    -webkit-animation: 7s rotatingAnimationX linear infinite;
    animation: 7s rotatingAnimationX linear infinite;
  }

  #ui-case-laptop-up {
    -webkit-animation: 16s rotatingAnimationZ linear infinite;
    animation: 16s rotatingAnimationZ linear infinite;
  }

  #research-case-laptop-screen-front {
    background-image: url('new-covers/app-case/laptop/screen/research-case-front.png');
  }

  #sort-case-laptop-screen-front {
    background-image: url('new-covers/app-case/laptop/screen/sort-case-front.png');
  }

  #ui-case-laptop-screen-front {
    background-image: url('new-covers/app-case/laptop/screen/ui-case-front.png');
  }