/* Base styles */
body {
    margin: 0;
	margin-left: 24px;
	margin-right: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 400;
	max-width: 100vw;
}

p, ul, ol, th, tr {
	font-family: Arial, Helvetica, sans-serif;
	max-width: 600px;
	line-height: 1.4em;
}

p {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	font-size: 23px;
	text-rendering: optimizeSpeed;
}

a {
	text-decoration: none;
	color: #000000;
}

main {
	display: flex;
	flex-direction: column;
	gap: 0px;
}

section {
	margin-bottom: 8rem;
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

img {
	object-fit: contain;
}

button {
	padding-top: 32px;
	padding-bottom: 32px;
	flex-grow: 1;
	font-size: 1.602rem;
	color: #000000;
	font-weight: bold;
	background-color: #F1F0F0;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	/* font-family: 'JetBrains Mono', monospace; */
	font-family: Arial, Helvetica, sans-serif;
}

button:active {
	background-color: #989898;
}

@media (hover: hover) and (pointer: fine) {
	button:hover {
		color: #000000;
		background-color: #E3E3E3;
	}
}



h1, h2, h3, h4, p, ol, ul {
	margin: 0px;
}

ul {
	list-style-type: "â— ";
	padding-left: 1.4rem;
}

li+li {
    margin-top: 0.6em;
}

li>ul>li:first-child {
    margin-top: 0.9em;
}

ol {
	padding: 0px;
}

ol li {
	list-style-position: inside;
}

nav {
	font-weight: 500;
	font-size: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: flex; flex-direction: row; justify-content: space-between;
}

header p {
	font-size: 42px; 
	font-weight: 500;
	max-width: 100%; 
	color: #000000;
	line-height: 1.2em;
	letter-spacing: -1px;
	text-align: center; 
	max-width: 60%;
	
	text-transform: lowercase;
	text-indent: 0px;
}

nav a {
	color: #000000; 
	text-decoration: none; 
	font-size: 36px;
	flex-shrink: 0;
}

nav a:visited {
	color: #000000;
}

@media (hover: hover) and (pointer: fine) {
	nav a:hover {
		color: #000000;
	}
}

nav a:active {
	color: #000000;
}

header a {
	text-decoration: underline;
	color: #0027F5;
}

.toc-container {
	display:flex;
	flex-direction: row;
	border-left: 3px solid black;
	padding-left: 24px;
	margin-top: 1rem;
}

.case-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.case-header a {
	color: #000000;
}

.description-of-myself {
	padding-top: 3rem;
	padding-bottom: 4rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.toc-container a {
	color: #000000;
}

.toc-container a:visited {
	color: #000000;
}

@media (hover: hover) and (pointer: fine) {
	.toc-container a:hover {
		color: #6B6B6B;
	}
}

#email-link {
	text-align: right;
}

#project-description {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.project-description-item {
	display: flex;
	flex-direction: column;
}

h1 {
	padding-top: 2rem;
	padding-bottom: 1rem;
	line-height: 90%;
	letter-spacing: -3px;
}

h2 {
	margin-top: 5rem;
	margin-bottom: 2rem;
	line-height: 90%;
	letter-spacing: -3px;
	font-weight: 500;
}


h3 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	/* line-height: 90%; */
	/* letter-spacing: -1px; */
	font-weight: 400;
}

h4 {
	padding-top: 1rem;
	padding-bottom: 1px;
}

.case-description {
	display: flex; 
	flex-direction: column; 
	align-items: center;
}

.case-description p {
	max-width: 60%;
	text-align: center;
	font-size: 28px;
	font-weight: 500;
	line-height: 1.2em;
}

.case-title {
	margin-top: 1rem; 
	margin-bottom: 0rem; 
	text-decoration: underline; 
	color: #0027F5;
}

.case-title-v2 {
	font-weight: 500;
	padding-top: 30vh;
	padding-bottom: 4rem;
	font-size: 80px;
	max-width: 80%;
	text-transform: lowercase;
}

.section h1,
.section h2 {
	font-weight: 700;
}

.case-study-description-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2rem;
	padding-top: 2rem;
}

.centered-img {
	display: flex;
	justify-content: center;
}

.cover-fun {
	background-color: #FFFF00;
	width: 100%;
	max-width: 775px;
	height: auto;
	max-height: 80vh;
	padding-top: 23px;
	padding-bottom: 23px;
}

.main-cover-img {
	background-color: #D7D7D7;
	display: flex;
	align-content: center; 
	justify-content: center;
	/* padding-top: 4rem;
	padding-bottom: 4rem; */
	padding: 4rem;
	max-height: 80vh;
}

.main-cover-img img {
	max-width: 60%;
}

.stack-of-examples {
	display: flex;
	justify-content: space-between;
	gap: 32px;
}

.cover-video {
	background-color: #F7F7F7;
	padding-top: 24px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

.cover-video h4 {
	text-align: center;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 24px;
}

.video-layout {
	display: flex;
	justify-content: flex-end;
}

.cover-secondary img {
	flex: 1;
	max-height: 400px;
	max-width: 80%;
}

.cover-secondary h4 {
	text-align: center;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 24px;
}

.cover-action-button p {
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	background-color: transparent;
	border-radius: 64px;
	display: flex;
	align-items: center;
	padding-left: 16px;
	padding-right: 16px;
	margin: 0px;
	height: 100%;

	font-size: 2rem;
}

#links {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	font-size: 28px;
	padding-top: 0rem;
}

#links a {
	text-decoration: underline;
	color: #0027F5;
}

#links a:visited {
	color: #0027F5;
}

@media (hover: hover) and (pointer: fine) {
	#links a:hover {
		color: #0027F5;
	}
}

@keyframes rotateAntiClockwise {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

.rotating-circle {
	animation: rotateAntiClockwise 10s linear infinite;
}


.callout {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 24px 32px;

	margin-top: 2rem;
	margin-bottom: 2rem;

	background-color: #000000;
}

.callout p {
	color: #ffffff;
}

.callout-title {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.callout-conclusion {
	flex-direction: row;
	background-color: #DFDFDF;
}

.callout-conclusion p {
	color: #000000;
}

.vertical-line {
	border: 2px solid black;
}

.group-of-callouts {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.small-video {
	max-width: 60%;
	padding-top: 36px; 
	padding-bottom: 36px;
}

.video-container {
	/* background-color: #ff1b1b; */
	width: 100%;
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	gap: 2rem;
}

.container-video {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 80vh;
	/* justify-content: center; */
	align-items: center;
	background-color: #b33ad4;
	padding-top: 32px;
	padding-bottom: 32px;
}

.container-video p {
	text-align: center;
	font-style: italic;
	background-color: #000000;
	color: #ffffff;
	font-weight: 550;
	margin-top: 3rem;
}

.video-wrapper {
	max-height: 100%;
	box-sizing: border-box;
	/* margin-left: auto;
	margin-right: auto; */
	margin-left: 48px;
	margin-right: 48px;
}

.rounded-video {
	max-width: 80%;
	max-height: 80vh;
    overflow: hidden;
}

.iphone-bezel {
	background-image: url("app-case/iphone-15-bezel.png");
	height: 100%;
	width: 100%;
	position: absolute;
	transform-origin: center center;
	top: 0;
	left: 21px;
	scale: 1.03;
	background-size: contain;
	background-repeat: no-repeat;
}

video {
	object-fit: contain;
	max-height: 100%;
	width: 100%;
}

.group-of-covers {
	display: flex;
	flex-direction: row;
}

/*ui-case styles start*/

.ui-element {
	display: flex;
	flex-direction: column;
}

.cover-secondary {
	background-color: #F7F7F7;
	padding-top: 24px;
	padding-bottom: 32px;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

.right-arrow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

/*ui-case styles end*/


/*app-case styles start*/

.logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 16%;
	row-gap: 8%;

	background-color: #F7F7F7;
	padding-top: 48px;
	padding-bottom: 48px;
	padding-left: 64px;
	padding-right:64px;
}

.logo {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 10%;
	height: auto;
}

.logo img  {
	flex: 1;
	max-width: 100%;
	min-width: 48px;
	height: auto;
	border-radius: 16%;
}

.logo p {
	text-align: center;
	margin-top: 0px;
}

.table-container {
	overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Ensure container fits the screen */
}

table {
    border-collapse: collapse; /* Collapse table borders into a single border */
    width: 100%;
}

thead {
    background-color: #f2f2f2; /* Set background color for table header */
}

th, td {
    border: 1px solid #ddd; /* Set border color for table cells */
    padding: 8px; /* Add padding to table cells */
    text-align: left; /* Align text to the left within table cells */
    width: 16%;
}

th {
	font-weight: 700;
}

hr {
	border: none;
	border: 2px solid #ffffff;
	margin: 0;
}

.inspiration {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 96px;

	background-color: #F7F7F7;
	padding-top: 48px;
	padding-bottom: 48px;
	padding-left: 64px;
	padding-right:64px;
}

.inspiration img {
	max-width: 300px;
}

/*app-case styles end*/


.other-cases {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.other-cases button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding-left: 32px;
	padding-right: 32px;
}

.other-cases .label {
	text-align: left;
}

.other-cases .arrow {
	white-space: nowrap;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 3rem;
}

#tech {
	text-align: right;
}

canvas {
	display: block;
}
.three-container { width: 100%; height: 100%; position: relative; visibility: visible; }

/* Phone */
@media only screen and (max-width: 599px) {
    .main-margin {
        margin-left: 0px;
        margin-right: 0px;
    }

    .cover {
    	margin-left: 16px; 
		margin-right: 16px;
    }

    body {
    	margin-left: 16px;
    	margin-right: 16px;
    }

    .main-padding {
    	padding-left: 16px;
		padding-right: 16px;
    }

    h1 {
    	font-size: 3.402rem;
    }

    h2 {
    	font-size: 2.802rem;
    	margin-top: 3rem;
    	margin-bottom: 1rem;
    }

    h3 {
    	font-size: 2.024rem;
    }

    h4 {
    	font-size: 1.266rem
    }


	header p {
		font-size: 32px;
		max-width: 100%;
	}

	.case-description p {
		max-width: 100%;
	}

    .main-cover-img img {
		max-width: 100%;
	}

    .footer {
		flex-direction: column;
		align-items: center;
	}

	#tech {
		text-align: center;
	}

	.stack-of-examples {
    	flex-direction: column;
    }

    #project-description {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.project-description-item {
		display: flex;
		flex-direction: column;
	}

    #description p {
    	padding-top: 0.5rem;
    	font-size: 12.5vw;
    	white-space: normal;
    }

    .group-of-callouts {
    	flex-direction: column;
    }

	.case-study-description-container {
		flex-direction: column;
		gap: 1rem;
	}

	#title-and-info {
		padding-bottom: 4rem;
	}

	.callout-conclusion {
		flex-direction: column;
	}

	li+li {
	    margin-top: 0.2em;
	}

	.group-of-covers {
		flex-direction: column;
	}

	.case-title-v2 {
		padding-top: 20vh;
		font-size: 72px;
		max-width: 100%;
	}
}

/* Small tablet */
@media only screen and (min-width: 600px) and (max-width: 904px) {
    .main-margin {
        margin-left: 32px;
        margin-right: 32px;
    }

    .main-padding {
    	padding-left: 32px;
		padding-right: 32px;
    }

    h1 {
    	font-size: 2.027rem;
    }

    h2 {
    	font-size: 3.802rem;
    }

    h3 {
    	font-size: 2.602rem;
    }

    h4 {
    	font-size: 1.424rem;
    }

    .header {
    	gap: 8px;
    }

    .stack-of-examples {
    	flex-direction: row;
    }

	.group-of-covers {
		flex-direction: column;
	}

	.group-of-callouts {
    	flex-direction: column;
    }
}

/* Big tablet */
@media only screen and (min-width: 905px) and (max-width: 1239px) {
    .main-margin {
		width: 840px;
		margin-left: auto;
        margin-right: auto;
    }

    .main-padding {
    	width: 840px;
		margin-left: auto;
        margin-right: auto;
    }

    h1 {
    	font-size: 2.027rem;
    }

    h2 {
    	font-size: 3.802rem;
    }

    h3 {
    	font-size: 2.602rem;
    }

    h4 {
    	font-size: 1.424rem;
    }

    .stack-of-examples {
    	flex-direction: row;
    }
}

/* Medium laptop */
@media only screen and (min-width: 1240px) and (max-width: 1439px) {
    .main-margin {
        margin-left: 200px;
        margin-right: 200px;
    }

    .main-padding {
    	padding-left: 200px;
		padding-right: 200px;
    }

    h1 {
    	font-size: 2.027rem;
    }

    h2 {
    	font-size: 3.802rem;
    }

    h3 {
    	font-size: 2.602rem;
    }

    h4 {
    	font-size: 1.424rem;
    }

    .stack-of-examples {
    	flex-direction: row;
    }
}

/* Large desktop */
@media only screen and (min-width: 1440px) {
    .main-margin {
        width: 1040px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-padding {
    	width: 1040px;
		margin-left: auto;
        margin-right: auto;
    }

    h1 {
    	font-size: 4.027rem;
    }

    h2 {
    	font-size: 3.802rem;
    }

    h3 {
    	/* font-size: 2.602rem; */
		font-size: 36px;
    }

    h4 {
    	font-size: 1.424rem;
    }

    .stack-of-examples {
    	flex-direction: row;
    }
}