/* Base styles */
body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
	font-size: 22px;
	font-weight: 400;
	max-width: 100vw;
}

p, ul, ol, th, tr {
	font-family: 'Crimson Pro', serif;
	max-width: 600px;
	line-height: 1.4em;
}

main {
	display: flex;
	flex-direction: column;
}

section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

img {
	object-fit: contain;
}

/*#home p {
	font-family: 'JetBrains Mono', monospace;
	font-weight: 700;
}*/

a:visited {
	color: #000000;
}

a:hover {
	color: #686868;
}

button {
	padding-top: 24px;
	padding-bottom: 24px;
/*	padding-left: 32px;
	padding-right: 32px;*/
	flex-grow: 1;
	font-size: 1.802rem;
	color: #000000;
	font-weight: bold;
	background-color: #F1F0F0;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-family: 'JetBrains Mono', monospace;;
}

button:hover {
	color: #000000;
	background-color: #E3E3E3;
}

button:active {
	background-color: #989898;
}

.other-cases button {
	padding-left: 32px;
	padding-right: 32px;
}

h1, h2, h3, h4, p, ol, ul {
	margin: 0px;
}

ul {
	list-style-type: "* ";
	padding-left: 0.8rem;
}

li+li {
    margin-top: 0.9em;
}

li>ul>li:first-child {
    margin-top: 0.9em;
}

ol {
/*	line-height: 1.5rem;*/
	padding: 0px;
}

ol li {
	list-style-position: inside;
}

.s1-gap {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.s2-gap {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.s3-gap {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.s4-gap {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.header {
	font-weight: 700;
	display: flex;
	flex-direction: row;
	gap: 16px;
	justify-content: space-between;
	align-items: center;

	padding-top: 1rem;
	padding-bottom: 1rem;
}

.nav-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.primary-button {
	color: #FFFFFF;
	background-color: #000000;
}

.primary-button:hover {
	color: #FFFFFF;
	background-color: #424141;
}

.primary-button.clicked {
	color: #FFFFFF;
	background-color: #A82C2C;
	width: 160px;
}

.description-line {
	display: flex;
	flex-direction: row;
}

#description {
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
/*	margin-top: 1rem;*/
	margin-bottom: 1rem;
}

#description p {
	letter-spacing: -0.8vw;
	font-weight: 900;
	font-size: 9vw;
	white-space: nowrap;
	font-family: 'JetBrains Mono', monospace;
	max-width: 100%;
	margin-left: -6px;
}

#short-description {
	font-size: 2.027rem;
	font-style: italic;
	margin-bottom: 5rem;
	max-width: 100%;
	margin-left: 80px;
	margin-bottom: 2rem;
}

#open-to-opportunities {
	text-align: right;
	max-width: 100%;
	font-size: 2.027rem;
	font-style: italic;
	margin-right: 100px;
	margin-bottom: 4rem;
}

.full-screen-margin {
	margin-left: 24px;
	margin-right: 24px;
}

/*#description {
	display: flex;
	flex-flow: column;

	margin-top: 2rem;
	margin-bottom: 3rem;
}

#description p {
	margin-top: 0px;
	margin-bottom: 0px;

	font-family: 'JetBrains Mono', monospace;
	line-height: 120%;
	letter-spacing: -2px;
	font-weight: 900;
	font-size: 3rem;
}*/

#project-description {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.project-description-item {
	display: flex;
	flex-direction: column;
}

.section {
	display: flex;
}

.section h1,
.section h2 {
	font-weight: 700;
}

.my-section {
	color: #831A4A;
}

.section-value {
	color: #16459A;
}

.case-studies {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.case-studies a {
	text-decoration: none;
}

.cover {
	background-color: #282828;
	padding-top: 2rem;
	padding-bottom: 3rem;
	border-radius: 8px;
	margin-left: 24px; 
	margin-right: 24px;
}

.cover-content {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

.cover-content h2 {
	color: #FFFFFF;
}

.cover-content p {
	color: #FFFFFF;
}

.centered-img {
	display: flex;
	justify-content: center;
}

.stack-of-examples {
	display: flex;
	justify-content: space-between;
	gap: 32px;
}

.cover-video {
	background-color: #F7F7F7;
	padding-top: 24px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cover-video h4 {
	text-align: center;
	padding-left: 24px;
	padding-right: 24px;
}

.video-layout {
	display: flex;
	justify-content: flex-end;
}

.cover-content img {
	flex: 1;
    max-width: 100%; 
}

.cover-secondary img {
	flex: 1;
	max-height: 400px;
	max-width: 80%;

}

.cover-content a {
	color: #FFFFFF;
}

.cover-action-button p {
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	background-color: transparent;
	border-radius: 64px;
	display: flex;
	align-items: center;
	padding-left: 16px;
	padding-right: 16px;
	margin: 0px;
	height: 100%;

	font-size: 2rem;
}

.tag-and-button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 32px;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	column-gap: 8px;
	row-gap: 8px;
/*	width: 100%;*/
}

.tag {
	border: 2px solid #FFFFFF;
	border-radius: 64px;
	padding: 8px 12px 8px 12px;
	margin: 0px;
}

#links {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}


/*ui-case styles start*/

.ui-element {
	display: flex;
	flex-direction: column;
}

.cover-secondary {
	background-color: #F7F7F7;
	padding-top: 24px;
	padding-bottom: 32px;
}

.multi-img {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 24px;
}

video {
    width: 100%; /* Adjust width as needed */
    max-height: 480px; /* Ensure video fits within container */
    height: auto; /* Maintain aspect ratio */
    background-color: #F7F7F7;
}

.other-cases button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

/*ui-case styles end*/


/*app-case styles start*/

.logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 16%;
	row-gap: 8%;

	background-color: #F7F7F7;
	padding-top: 48px;
	padding-bottom: 48px;
	padding-left: 64px;
	padding-right:64px;
}

.logo {
	display: flex;
	flex-direction: column;
/*	justify-content: space-between;*/
	gap: 16px;
/*	align-items: center;*/
	max-width: 10%;
	height: auto;
}

.logo img  {
	flex: 1;
	max-width: 100%;
	min-width: 48px;
	height: auto;
	border-radius: 16%;
}

.logo p {
	text-align: center;
	margin-top: 0px;
}

.table-container {
	overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Ensure container fits the screen */
}

table {
    border-collapse: collapse; /* Collapse table borders into a single border */
    width: 100%;
}

thead {
    background-color: #f2f2f2; /* Set background color for table header */
}

th, td {
    border: 1px solid #ddd; /* Set border color for table cells */
    padding: 8px; /* Add padding to table cells */
    text-align: left; /* Align text to the left within table cells */
    width: 16%;
}

th {
	font-weight: 700;
}

.inspiration {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 96px;

	background-color: #F7F7F7;
	padding-top: 48px;
	padding-bottom: 48px;
	padding-left: 64px;
	padding-right:64px;
}

.inspiration img  {
	max-width: 300px;
}


/*app-case styles end*/

.other-cases {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 5rem;
	padding-bottom: 2rem;
}

#tech {
	text-align: right;
}

#home {
	flex-grow: 0;
	padding-left: 64px; padding-right: 64px;
}

#email-button {
	flex-grow: 0;
	padding-left: 64px; padding-right: 64px;
}

/* Phone */
@media only screen and (max-width: 599px) {
    .main-margin {
        margin-left: 16px;
        margin-right: 16px;
    }

    .cover {
    	margin-left: 16px; 
		margin-right: 16px;
    }

    #short-description {
    	margin-left: 0px;
    	margin-bottom: 1rem;
    	font-size: 1.602rem;
    }

    #open-to-opportunities {
    	margin-right: 0px;
    	margin-bottom: 2rem;
    	text-align: left;
    	font-size: 1.602rem;
    }

    .full-screen-margin {
    	margin-left: 16px;
    	margin-right: 16px;
    }

    .nav-bar-button {
    	display: none;
    }

    nav {
    	display: none;
    }

    .main-padding {
    	padding-left: 16px;
		padding-right: 16px;
    }

    h1 {
    	font-size: 2.027rem;
    }

    h2 {
    	font-size: 1.802rem;
    }

    h3 {
    	font-size: 1.602rem;
    }

    h4 {
    	font-size: 1.424rem;
    }

    .header button {
    	font-size: 1.424rem;
    	padding-top: 16px;
    	padding-bottom: 16px;
    }

    .cover-content img {
    	max-width: 100%;
    }

    .footer {
		flex-direction: column;
	}

	#tech {
		text-align: left;
	}

	.stack-of-examples {
    	flex-direction: column;
    }

    #description p {
    	font-size: 2rem;
    }

    #project-description {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.project-description-item {
		display: flex;
		flex-direction: column;
	}

	#description p {
    	font-size: 8vw;
    }

    #home {
    	flex-grow: 1;
    	padding-left: 0px; padding-right: 0px;
    }

    #email-button {
    	flex-grow: 1;
    	padding-left: 0px; padding-right: 0px;
    }
}

/* Small tablet */
@media only screen and (min-width: 600px) and (max-width: 904px) {
    .main-margin {
        margin-left: 32px;
        margin-right: 32px;
    }

    .main-padding {
    	padding-left: 32px;
		padding-right: 32px;
    }

    #short-description {
    	margin-left: 0px;
    	font-size: 1.802rem;
    }

    #open-to-opportunities {
    	margin-right: 0px;
    	text-align: right;
    	font-size: 1.802rem;
    }

    nav {
    	display: none;
    }

    h1 {
    	font-size: 2.027rem;
    }

    h2 {
    	font-size: 1.802rem;
    }

    h3 {
    	font-size: 1.602rem;
    }

    h4 {
    	font-size: 1.424rem;
    }

    .header button {
    	font-size: 1.424rem;
    }

    .header {
    	gap: 8px;
    }

    .stack-of-examples {
    	flex-direction: row;
    }

    #description p {
    	font-size: 8vw;
    }
}

/* Big tablet */
@media only screen and (min-width: 905px) and (max-width: 1239px) {
    .main-margin {
		width: 840px;
		margin-left: auto;
        margin-right: auto;
    }

    .main-padding {
    	width: 840px;
		margin-left: auto;
        margin-right: auto;
    }

    h1 {
    	font-size: 2.027rem;
    }

    h2 {
    	font-size: 1.802rem;
    }

    h3 {
    	font-size: 1.602rem;
    }

    h4 {
    	font-size: 1.424rem;
    }

    .header button {
    	font-size: 1.602rem;
    }

    .stack-of-examples {
    	flex-direction: row;
    }
}

/* Medium laptop */
@media only screen and (min-width: 1240px) and (max-width: 1439px) {
    .main-margin {
        margin-left: 200px;
        margin-right: 200px;
    }

    .main-padding {
    	padding-left: 200px;
		padding-right: 200px;
    }

    h1 {
    	font-size: 2.027rem;
    }

    h2 {
    	font-size: 1.802rem;
    }

    h3 {
    	font-size: 1.602rem;
    }

    h4 {
    	font-size: 1.424rem;
    }

    .stack-of-examples {
    	flex-direction: row;
    }
}

/* Large desktop */
@media only screen and (min-width: 1440px) {
    .main-margin {
        width: 1040px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-padding {
    	width: 1040px;
		margin-left: auto;
        margin-right: auto;
    }

    h1 {
    	font-size: 2.027rem;
    }

    h2 {
    	font-size: 1.802rem;
    }

    h3 {
    	font-size: 1.602rem;
    }

    h4 {
    	font-size: 1.424rem;
    }

    .stack-of-examples {
    	flex-direction: row;
    }
}

/* Thin */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

/* Thin Italic */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

/* Extra Light */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

/* Extra Light Italic */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

/* Light Italic */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

/* Medium Italic */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

/* Semi Bold */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

/* Semi Bold Italic */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

/* Extra Bold */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* Extra Bold Italic */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

/* Crimson Pro Black */
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/CrimsonPro-Black.ttf') format('truetype');
}

/* Crimson Pro Black Italic */
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 900;
    src: url('fonts/CrimsonPro-BlackItalic.ttf') format('truetype');
}

/* Crimson Pro ExtraBold */
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/CrimsonPro-ExtraBold.ttf') format('truetype');
}

/* Crimson Pro ExtraBold Italic */
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 800;
    src: url('fonts/CrimsonPro-ExtraBoldItalic.ttf') format('truetype');
}

/* Crimson Pro Bold */
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/CrimsonPro-Bold.ttf') format('truetype');
}


/* Crimson Pro Bold Italic */
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 700;
    src: url('fonts/CrimsonPro-BoldItalic.ttf') format('truetype');
}

/* Crimson Pro SemiBold */
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/CrimsonPro-SemiBold.ttf') format('truetype');
}

/* Crimson Pro SemiBold Italic */
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 600;
    src: url('fonts/CrimsonPro-SemiBoldItalic.ttf') format('truetype');
}

/* Crimson Pro Medium */
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/CrimsonPro-Medium.ttf') format('truetype');
}

/* Crimson Pro Medium Italic */
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 500;
    src: url('fonts/CrimsonPro-MediumItalic.ttf') format('truetype');
}

/* Crimson Pro Italic */
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/CrimsonPro-Italic.ttf') format('truetype');
}

/* Crimson Pro Regular */
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/CrimsonPro-Regular.ttf') format('truetype');
}

/* Crimson Pro Light */
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/CrimsonPro-Light.ttf') format('truetype');
}

/* Crimson Pro Light Italic */
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 300;
    src: url('fonts/CrimsonPro-LightItalic.ttf') format('truetype');
}

/* Crimson Pro ExtraLight */
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/CrimsonPro-ExtraLight.ttf') format('truetype');
}

/* Crimson Pro ExtraLight Italic */
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 200;
    src: url('fonts/CrimsonPro-ExtraLightItalic.ttf') format('truetype');
}