/* Base styles */
body {
    margin: 0;
    font-family: system-ui, sans-serif;
	font-size: 16px;
	font-weight: 400;
	max-width: 100vw;
}

main {
	display: flex;
	flex-direction: column;
}

.header {
	font-weight: 900;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-menu {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 8px;
}

nav ul li:last-child {
    margin-right: 0;
}

img {
	object-fit: contain;
}

/*a {
	font-size: 20px;
}*/

/*a:link a:visited {
	border-bottom-color: #686868;
}*/

a:hover {
	color: #686868;
}

.header-logo img {
	height: 75.5px;
}

button {
	padding: 24px 32px;
	font-size: 20px;
	color: #000000;
	font-weight: bold;
	background-color: #F1F0F0;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

button:hover {
	color: #000000;
	background-color: #E3E3E3;
}

button:active {
	background-color: #989898;
}

.primary-button {
	color: #FFFFFF;
	background-color: #000000;
}

.primary-button:hover {
	color: #FFFFFF;
	background-color: #424141;
}

.primary-button.clicked {
	color: #FFFFFF;
	background-color: #A82C2C;
	width: 160px;
}

#description {
	display: flex;
	flex-flow: column;

	margin-top: 64px;
	margin-bottom: 64px;
}

#description p {
	margin-top: 0px;
	margin-bottom: 0px;

	font-weight: 900;
	font-size: 2rem;
}

.section {
	display: flex;
}

.section h1,
.section h2 {
	color: #FFFFFF;
	background-color: #000000;
	font-weight: 600;
}

.case-studies {
	display: flex;
	flex-direction: column;
	gap: 80px;
}

.case-studies a {
	text-decoration: none;
}

.cover {
	background-color: #282828;
	padding-top: 24px;
	padding-bottom: 32px;
}

.cover-content {
	display: flex;
	gap: 24px;
	flex-direction: column;
}

.cover-content h1 {
	color: #FFFFFF;
}

.cover-content p {
	color: #FFFFFF;
}

.centered-img {
	display: flex;
	justify-content: center;
}

.stack-of-examples {
	display: flex;
	justify-content: space-between;
	gap: 32px;
}

.cover-video {
	background-color: #F7F7F7;
	padding-top: 24px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cover-video h4 {
	text-align: center;
	padding-left: 24px;
	padding-right: 24px;
}

.video-layout {
	display: flex;
	justify-content: flex-end;
}

.cover-content img {
	flex: 1; /* Make child elements grow to fill the available space */
    max-width: calc(33.33% - 24px); /* Set maximum width for child elements */
    max-width: 80%; /* Allow the image to resize based on container width */
}

.cover-secondary img {
	flex: 1;
	max-height: 400px;
	max-width: 80%;

}

.cover-content a {
	color: #FFFFFF;
	font-weight: 600;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	column-gap: 8px;
	row-gap: 8px;
	width: 100%;
}

.tag {
	border: 2px solid #FFFFFF;
	border-radius: 64px;
	padding: 8px 12px 8px 12px;
	margin: 0px;
}

#links {
	display: flex;
	flex-direction: column;
	gap: 16px;
}


/*ui-case styles start*/

.ui-element {
	display: flex;
	flex-direction: column;
}

.cover-secondary {
	background-color: #F7F7F7;
	padding-top: 24px;
	padding-bottom: 32px;
}

.ui-image img {
	flex: 1; /* Make child elements grow to fill the available space */
    max-width: calc(33.33% - 24px); /* Set maximum width for child elements */
    max-width: 80%; /* Allow the image to resize based on container width */
    max-height: 900px;
}

.multi-img {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 24px;
}

video {
    width: 100%; /* Adjust width as needed */
    max-height: 480px; /* Ensure video fits within container */
    height: auto; /* Maintain aspect ratio */
    background-color: #F7F7F7;
}

.other-cases button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

/*ui-case styles end*/


/*app-case styles start*/

.logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 96px;

	background-color: #F7F7F7;
	padding-top: 48px;
	padding-bottom: 48px;
	padding-left: 64px;
	padding-right:64px;
}

.logos img  {
	max-width: 80px;
	border-radius: 16px;
}

table {
    border-collapse: collapse; /* Collapse table borders into a single border */
    width: 100%;
}

thead {
    background-color: #f2f2f2; /* Set background color for table header */
}

th, td {
    border: 1px solid #ddd; /* Set border color for table cells */
    padding: 8px; /* Add padding to table cells */
    text-align: left; /* Align text to the left within table cells */
}

.inspiration {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 96px;

	background-color: #F7F7F7;
	padding-top: 48px;
	padding-bottom: 48px;
	padding-left: 64px;
	padding-right:64px;
}

.inspiration img  {
	max-width: 300px;
}

/*app-case styles end*/

.other-cases {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 80px;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 80px;
}

#tech {
	text-align: right;
}

/* Phone */
@media only screen and (max-width: 599px) {
    .main-margin {
        margin-left: 16px;
        margin-right: 16px;
    }

    nav ul {
    	display: none;
    }

    .main-padding {
    	padding-left: 16px;
		padding-right: 16px;
    }

    h1 {
    	font-size: 1.5rem;
    }

    .cover-content img {
    	max-width: 100%;
    }

    .footer {
		flex-direction: column;
	}

	#tech {
		text-align: left;
	}

	.stack-of-examples {
    	flex-direction: column;
    }
}

/* Small tablet */
@media only screen and (min-width: 600px) and (max-width: 904px) {
    .main-margin {
        margin-left: 32px;
        margin-right: 32px;
    }

    .main-padding {
    	padding-left: 32px;
		padding-right: 32px;
    }

    h1 {
    	font-size: 2rem;
    }

    .stack-of-examples {
    	flex-direction: row;
    }
}

/* Big tablet */
@media only screen and (min-width: 905px) and (max-width: 1239px) {
    .main-margin {
		width: 840px;
		margin-left: auto;
        margin-right: auto;
    }

    .main-padding {
    	width: 840px;
		margin-left: auto;
        margin-right: auto;
    }

    h1 {
    	font-size: 2rem;
    }

    .stack-of-examples {
    	flex-direction: row;
    }
}

/* Medium laptop */
@media only screen and (min-width: 1240px) and (max-width: 1439px) {
    .main-margin {
        margin-left: 200px;
        margin-right: 200px;
    }

    .main-padding {
    	padding-left: 200px;
		padding-right: 200px;
    }

    h1 {
    	font-size: 2rem;
    }

    .stack-of-examples {
    	flex-direction: row;
    }
}

/* Large desktop */
@media only screen and (min-width: 1440px) {
    .main-margin {
        width: 1040px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-padding {
    	width: 1040px;
		margin-left: auto;
        margin-right: auto;
    }

    h1 {
    	font-size: 2rem;
    }

    .stack-of-examples {
    	flex-direction: row;
    }
}